* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  line-height: 1.618;
}

body {
  padding: 40px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 80px - 40px - 40px);
  font-size: 40px;
}

.board > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.333%;
  border: 2px solid #ddd;
  cursor: pointer;
  min-height: 80px;
}

.board > div:nth-child(1) {
  border-top: 0;
  border-left: 0;
}
.board > div:nth-child(2) {
  border-top: 0;
}
.board > div:nth-child(3) {
  border-top: 0;
  border-right: 0;
}

.board > div:nth-child(4) {
  border-left: 0;
}
.board > div:nth-child(6) {
  border-right: 0;
}

.board > div:nth-child(7) {
  border-left: 0;
  border-bottom: 0;
}
.board > div:nth-child(8) {
  border-bottom: 0;
}
.board > div:nth-child(9) {
  border-bottom: 0;
  border-right: 0;
}

.reset-btn {
  padding: 0 40px;
  background: dodgerblue;
  color: white;
  border-radius: 999px;
  border: 0;
  font-size: 100%;
  cursor: pointer;
  height: 40px;
}